* {
    outline: 0;
    Margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width:100%;
    height:100%;
    overflow: hidden;
    Background-color: #c5beaf;
}

canvas {
    width: 100%;
    height: 100%;
}